body {
    background-color: #F8F7F6;
    min-height: 100vh;
}

main {
    font-family: comme, Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

header {
    padding: 30px;
    position: relative;
}

.logo {
    width: 130px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav a {
    text-decoration: none;
    color: #355C7D;
}

.user {
    font-size: 18px;
}

.header-text {
    display: none;
}

li {
    list-style: none;
    display: inline;
    padding: 5px;
}

h1 {
    font-family: dosis, Verdana, Geneva, Tahoma, sans-serif;
    color:#355C7D;
    text-align: center;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

footer {
    height: 350px;
    width: 100%;
    margin: auto;
    color:#F8F7F6;
    background-color: #355C7D;
    margin-top: 150px;
    font-family: comme, Arial, Helvetica, sans-serif;
}

.top-footer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer-image {
    width: 180px;
    margin: auto;
    padding: 20px;
}

.line {
    background-color:#D7DDE2;;
    height: 5px;
    width: 100%;
}

.socials {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    column-gap: 10px;
}

.main-footer {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 14px;
}

@media (min-width: 700px) {

    .logo {
        width: 150px;
    }

    li {
        padding: 15px;
    }

    .user {
        font-size: 25px;
    }

    .header-text {
        display: inline;
        font-family: dosis, Verdana, Geneva, Tahoma, sans-serif ;
        font-size: 20px;
        padding: 10px;
    }

    .footer-image {
        width: 200px;
    }

    .main-footer {
        padding: 10px 50px;
    }
}



